Flask==2.3.3
Flask-SocketIO==5.3.6
python-socketio==5.8.0
python-engineio==4.7.1
Flask-SQLAlchemy==3.1.1
Flask-Login==0.6.3
Werkzeug==3.0.1
gunicorn==22.0.0
eventlet==0.33.3
psycopg2-binary==2.9.9
Flask-Mail==0.9.1
sendgrid==6.11.0